name: Autobuild README

on:
  push:
    branches:
      - main
  schedule:
    # README updates every new hour
    # Use '0 */1 * * *' or '@hourly'
    - cron: '0 */1 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout current repository to main branch
        uses: actions/checkout@v2.3.4
      - name: Setup Node.js 13.x
        uses: actions/setup-node@v2.3.0
        with:
          node-version: '13.x'
      - name: Cache dependencies and build outputs
        uses: actions/cache@v2.1.6
        with:
          path: node_modules
          key: ${{ runner.os }}-js-${{ hashFiles('package-lock.json') }}
      - name: Install dependencies
        run: npm install
      - name: Generate README file
        run: node index.js
        env:
          OPEN_WEATHER_MAP_KEY: ${{secrets.OPEN_WEATHER_MAP_KEY}}
      - name: Commit and push new README.md
        run: |-
          git diff
          git config --global user.email "russellsaerang@gmail.com"
          git config --global user.name "RussellDash332"
          git add -A
          git commit -m "Updated content" || exit 0
          git push
